:root {
  --bg: #d7cde1;
  --fg: #22181c;
  --link-fg: #7a79b7;
  --link-fg-hover: #00afb5;
  --font-size: 16px;
}

@font-face {
  font-family: "Iosevka";
  font-stretch: normal;
  font-style: normal;
  src: url("iosevka/iosevka-light.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  transition: all 0.2s linear;
  text-decoration: none;
  color: var(--link-fg);
}
a:hover {
  color: var(--link-fg-hover);
}

h1,
h2 {
  font-weight: 500;
}

body {
  font-size: var(--font-size);
  color: var(--fg);
  background: var(--bg);
}

ul {
  list-style: none;
}
li:before {
  content: "⋄";
  padding-right: 0.5rem;
}

.resume {
  grid-gap: 1rem;
  min-height: 100vh;
  margin: 0;
  font-family: "Iosevka";
  padding: 0.5rem;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr 1fr;
  max-width: 970px;
  margin: 0 auto;
}

.intro {
  text-align: justify;
}

.resume-contacts {
  grid-column-end: span 2;
}

.resume-header__name,
.resume-contacts__github {
  font-size: 2rem;
  display: block;
}

.resume-header__position,
.resume-contacts__email {
  font-size: 1.5rem;
  display: block;
}

.section-title {
  margin-top: 1rem;
}

.resume-image {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  max-width: 100%;
  object-fit: none;
  object-position: 0 0;
}

.wh-2 {
  grid-row: 10;
}

.wh-4 {
  grid-row: 12;
}

.intro,
.section-title,
.section-column {
  grid-column-end: span 2;
}

@media (min-width: 600px) {
  .resume-contacts {
    text-align: right;
    grid-column-end: span 1;
  }

  .wh-2 {
    grid-row: 9;
  }

  .wh-4 {
    grid-row: 11;
  }

  .resume-header__name,
  .resume-contacts__github {
    font-size: 26px;
  }

  .resume-header__position,
  .resume-contacts__email {
    font-size: 24px;
  }

  .resume {
    padding: 1rem;
  }
}

@media print {
  body {
    font-size: 14pt;
    background-color: white;
  }
}

@media (min-width: 850px), print {
  .wh-2 {
    grid-row: auto;
  }

  .wh-4 {
    grid-row: auto;
  }

  .resume {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .resume-contacts {
    text-align: right;
    grid-column-end: span 2;
  }
  .resume-header__name,
  .resume-contacts__github {
    font-size: 35px;
    display: block;
  }

  .resume-header__position,
  .resume-contacts__email {
    font-size: 24px;
    display: block;
  }

  .intro,
  .section-title {
    grid-column-end: span 3;
    margin-top: 20px;
  }
  .section-column {
    grid-column-end: auto;
  }
}
