doctype html
html(lang="en")
  head
    title Sergey Zubkov | Full Stack Engineer
  body
    .container
      section.section
        h1.title.is-2 Sergey Zubkov
        h2.subtitle.is-4 Full Stack Engineer
      section.section
        .columns
          .column.is-8
            p Over 6 years of experience in building web applications and APIs using Ruby and JavaScript. I'm writing SOLID object-oriented code, classifying algorithms by big O notation and avoiding n+1 query problems. I do care about Agile.

          .column
            p
              a.is-dark(href='mailto:ksevelyar@gmail.com')
                span.icon
                  i.far.fa-envelope
                span ksevelyar@gmail.com
            p
              a(href='https://github.com/ksevelyar')
                span.icon
                  i.fab.fa-github
                span ksevelyar
            p
              a(href="https://www.worldtimebuddy.com/?qm=1&lid=524901,5,12,100&h=524901&sln=10-21")
                span.icon
                  i.far.fa-clock
                | 7:00-17:00 UTC

      .section
        h2.title.is-4 Working History
        .tile.is-ancestor
          .tile.is-parent
            .tile.is-child.box
              p
                h3.is-size-5.is-inline IO Engage
                |&nbsp;
                span.has-text-grey is a graphics management system for large expositions.
              br
              br
              h3.title.is-5 Senior Software Engineer
              .subtitle.is-6 Sep 17 - Jul 18
              p Reduced dashboard rendering time by implementing PostgreSQL materialized views.
              br
              p Implemented Leaflet tiles map for expositions floors with custom logic: creation, modification and deletion of items via AJAX, filtering and printing.
          .tile.is-parent
            .tile.is-child.box
              p
                a.is-size-5(href="https://www.mindbodyonline.com/") Mindbody
                |&nbsp;
                span.has-text-grey is a middleman company that connects fitness studios and users.
              br
              br
              .title.is-5 Senior Ruby on Rails Developer
              .subtitle.is-6 May 16 - Mar 19
              p Integrated Mindbody API and implemented cron based sync for Lymber.
              br
              p Implemented Rails endpoint for Amazon Alexa Skill.
              br
              p Implemented auto-discount logic for classes.
          .tile.is-parent
            .tile.is-child.box
              p
                a.is-size-5(href='https://rambler-co.ru/en') Rambler&Co
                span.has-text-grey :
                |&nbsp;
                span.has-text-grey gazeta.ru is the third most cited online newspaper in Russia, according to the mlg.ru.
              br
              .title.is-5 Ruby Software Engineer
              .subtitle.is-6 Feb 15 - May 16
              br
              p Implemented Single Table Inheritance for articles, which helped to remove UNION queries while preserving the behaviour of different types.
              br
              p Added jsonb store, which allowed to change article schema on the fly.

      section.section
        h2.title.is-4 Skills
        .columns
          .column
            h3.title.is-5 Backend
            ul
              li
                span.icon
                  i.fas.fa-check-square
                | Ruby / Ruby on Rails linted with Rubocop
              li
                span.icon
                  i.fas.fa-check-square
                | Test Driven Development with RSpec
              li
                span.icon
                  i.fas.fa-check-square
                | PostgreSQL 11 with JIT, PgHero and PgTune
              li
                span.icon
                  i.fas.fa-check-square
                | Redis for Sidekiq, JWT and cache store

          .column
            h3.title.is-5 Frontend
            ul
              li
                span.icon
                  i.fas.fa-check-square
                | ES10 / Vue / Nuxt / linted with ESLint
              li
                span.icon
                  i.fas.fa-check-square
                | Bulma / Bootstrap 4, SASS / SCSS,
                |
                a(href='https://en.bem.info/methodology/') BEM
              li
                span.icon
                  i.fas.fa-check-square
                | Pug, Slim, Haml
              li
                span.icon
                  i.fas.fa-check-square
                | Bundled with tree-shaking Webpack&nbsp;4

          .column
            h3.title.is-5 Infrastructure
            ul
              li
                span.icon
                  i.fas.fa-check-square
                | Linux Administration (Debian and Arch)
              li
                span.icon
                  i.fas.fa-check-square
                | AWS (EC2, S3), Digital Ocean
              li
                span.icon
                  i.fas.fa-check-square
                | Git under git-flow, CI, CD
              li
                span.icon
                  i.fas.fa-check-square
                | NGINX, Capistrano, ASDF

      section.section
        .columns.is-multiline
          .column.is-8
            h2.title.is-4 Pet Projects
          .column.is-4
            h2.title.is-4 Education
          .column.is-4
            .card
              .card-image
                figure.image.is-2by1
                  img(src="images/life.png" alt="Life")
              .card-content
                h4.title.is-5 Conway's Game of Life
                p.subtitle.is-6 Vanilla JS cellular automation.
                p
                  a(href="https://ksevelyar.github.io/life/") ksevelyar.github.io/life

          .column
            .card
              .card-image
                figure.image.is-2by1
                  img(src="images/joker.png" alt="Joker")
              .card-content
                h4.title.is-5 Neovim Joker Theme
                p.subtitle.is-6
                  | Dark theme for Vim & Neovim.
                p
                  a(href="https://github.com/ksevelyar/joker.vim") github.com/ksevelyar/joker.vim

          .column
            p
              .title.is-5 Moscow Technological Institute
              .subtitle.is-6.level
                .level-left
                  span.tag B.Eng.
                  |&nbsp;Software Development
            p
              .title.is-5 Favorite Sources
              ul.subtitle.is-6
                li
                  span.icon
                    i.fas.fa-book
                  | The Well Grounded Rubyist
                li
                  span.icon
                    i.fas.fa-book
                  | Eloquent JavaScript
                li
                  span.icon
                    i.fas.fa-book
                  | The Imposter's Handbook
                li
                  span.icon
                    i.fas.fa-university
                  | VueMastery
                li
                  span.icon
                    i.fas.fa-university
                  | Udemy

      footer.section
        nav.level.has-text-grey
          .level-left
            a.level-item(href="https://github.com/ksevelyar/resume")
              | Made with&nbsp;
              img(src="images/bulma.png")
          .level-right.is-hidden-print
            a.level-item(href="files/Sergey_Zubkov_Full_Stack_Engineer.pdf")
              span.icon
                i.far.fa-file-alt
              | Download PDF
