@import url('https://fonts.googleapis.com/css?family=Open+Sans:400&display=swap')

$family-serif: "Open Sans", sans-serif
$blue: #7550bd
$box-radius: 0
$family-primary: $family-serif
$control-border-width: 1px
$input-border-color: transparent
$input-shadow: none
$weight-normal: 400
$weight-semibold: 400
$section-padding: 1.5rem 0.75rem

@import "~bulma/sass/utilities/_all"
@import "~bulma/sass/base/_all"
@import "~bulma/sass/elements/box"
@import "~bulma/sass/elements/tag"
@import "~bulma/sass/elements/title"
@import "~bulma/sass/elements/icon"
@import "~bulma/sass/elements/container"
@import "~bulma/sass/elements/content"
@import "~bulma/sass/elements/image"
@import "~bulma/sass/components/card"
@import "~bulma/sass/components/level"
@import "~bulma/sass/grid/_all"
@import "~bulma/sass/layout/section"

.icon
  display: inline-table

.footer
  background: inherit


@media print
  .footer
    margin-top: 65px    
    padding-bottom: 0
    .level
      align-items: center
      justify-content: center

  .is-hidden-print
    display: none !important
