@charset "utf-8"

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400&display=swap')

// Set your brand colors

// Update Bulma's global variables
$family-serif: "Open Sans", sans-serif
// $grey-dark: $brown
// $grey-light: $beige-light
// $primary: $purple
// $link: $pink
// $widescreen-enabled: false
// $fullhd-enabled: false

$blue: #7550bd
$box-radius: 0

// Update some of Bulma's component variables
// $body-background-color: $white-ter
$family-primary: $family-serif
$control-border-width: 1px
$input-border-color: transparent
$input-shadow: none
$weight-normal: 400
$weight-semibold: 400
$section-padding: 1.5rem 0.75rem

@import "~bulma/bulma"

body
  max-height: 29.7cm
//   width: 21cm
.icon
  display: inline-table

.mail
   margin-top: auto !important
